* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 49%, 92%);
  --grey: background: hsl(240, 9%, 89%); 
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color:hsl(240, 49%, 92%);
}

body {
  background: url(img/img_fundo.png);
  display: grid;
  place-items: center;
  background-color: black;
}

main {
  background: url(img/retangle.svg);
  width: 358px;
  height: 540px;
  background-repeat: no-repeat;
}

.faixaVertical {
  width: 64px;
  height: 158px;
  background-image: linear-gradient(#ff008e, #ffcd1e);
  margin-bottom: -0.4rem;
  margin-left: 9.1875rem;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 10rem;
  color: var(--grey);
  margin-top: -80px;
}

.avatar {
  width: 10rem;
  margin: 3.37rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}
p {
  margin-top: 2rem;
}
ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
